.button1{
  border-radius: 16px;
  width: 40%;
  background-color: rgb(149, 185, 211);
}
.gfg {
        font-style: normal;
        font-family: "Times New Roman";
        font-weight: bold;
        font-size: 40px;
        color: rgb(57, 121, 172);
        text-align: center;
    }

    .geeks {
        font-style: italic;
        text-align: center;
}
